*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body
{
    color: #ededed;
    background: #090909;
}
.header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #090909;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo
{
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 2s ease forwards;
}
.logo:hover
{
    color: #ef4c1af7;
    box-shadow: 0 0 5px #ef4c1af7,
    0 0 25px #ef4c1af7, 0 0 50px #ef4c1af7,
    0 0 100px #ef4c1af7, 0 0 200px #ef4c1af7;
    transition: 2s;
    border-radius: 5px;
}
.navbar:hover
{
color: #ef4c1af7;
transition: .3s;
}
.navbar a
{
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 25px;
    transition: .3s;
    opacity: 0;
    animation: slideTop 2s ease forwards;
}
.navbar a:hover
{
    color: #ef4c1af7;
    box-shadow: 0 0 5px #ef4c1af7,
    0 0 25px #ef4c1af7, 0 0 50px #ef4c1af7,
    0 0 100px #ef4c1af7, 0 0 200px #ef4c1af7;
    transition: 2s;
    border-radius: 4px;
}
.home
{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: url(career.png) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}
.home-content
{
    max-width: 600px;
}
.home-content h3
{
font-size: 32px;
font-weight: 700;
opacity: 0;
animation: slideBottom 1s ease forwards;
animation-delay: .7s;
}
.home-content h3:nth-of-type(2)
{
    margin-bottom: 20px;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}
.home-content h3 span
{
    color: #ef4c1af7;
}
.home-content h1
{
    font-size: 56px;
    font-weight: 600;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 2s ease forwards;
    animation-delay: 2s;
}
.home-content p
{
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 2s ease forwards;
    animation-delay: .7s;
}
.home-sci a
{
display: inline-flex;
justify-content: center;
align-items: center;
width: 40px;
height: 40px;
background: transparent;
border: 2px solid #ef4c1af7;
border-radius: 50%;
font-size: 20px;
color: #ef4c1af7;
text-decoration: none;
margin: 30px 15px 30px 0;
opacity: 0;
transition: .5s ease;
animation: slideLeft 1s ease forwards;
animation-delay:calc(.2s * var(--i));
}
.home-sci a:hover
{
    background: #ef4c1af7;
    color: #020202;
    box-shadow: 0 0 20px #ef4c1af7;
}
.btn-box
{
    display: inline-block;
    padding: 12px 28px;
    background: #ef4c1af7;
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideBottom 2s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #823119f7, 0 0 25px #823119f7;
}
.btn-box:hover
{
    box-shadow: 0 0 5px #ef4c1af7,
    0 0 25px #ef4c1af7, 0 0 50px #ef4c1af7,
    0 0 100px #ef4c1af7, 0 0 200px #ef4c1af7;
    transition: .2s;
}
span
{
    color: #ef4c1af7;
}
.aboutMe
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 1rem;
}
.about-img img
{
    padding-top: 0.3px;
padding-bottom: 20%;
max-width: 800px;
height: auto;
width: 100%;
border-radius: 80px;
}
.about-text h2
{
    font-size: 60px;
}
.about-text h2 span
{
    color:#ef4c1af7;
}
.about-text h4
{
    font-size: 24px;
    font-weight: 600;
    color: white;
    line-height: 1.7;
    margin: 15px 0 30px;
}
.about-text p
{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}









@keyframes slideRight
{
    0%
    {
        transform: translateX(-50px);
        opacity: 0;
    }
    50%
    {
        transform: translateX(-10px);
        opacity: 1;
        color: #ef4c1af7;
    }
    100%
    {
        transform: translateX(0px);
        opacity: 1;
        color: #fff;
    }
}
@keyframes slideTop
{
    0%
    {
    transform: translateY(-50px);
    opacity: 0;
    }
    50%
    {
        transform: translateY(-10px);
        opacity: 1;
        color: #ef4c1af7;
    }
    100%
    {
        transform: translateY(0px);
        opacity: 1;
        color: #fff;
    }
}
@keyframes slideBottom
{
    0%
    {
    transform: translateY(-100px);
    opacity: 0;
    
    }
    50%
    {
        transform: translateY(50px);
        opacity: 1;
        color: #ef4c1af7;
    }
    100%
    {
        transform: translateY(0px);
        opacity: 1;
        
    }
}
@keyframes slideLeft
{
    0%
    {
        transform: translateX(100px);
        opacity: 0;
    }
    50%
    {
        transform: translateX(10px);
        opacity: 1;
        color: #ef4c1af7;
    }
    100%
    {
        transform: translateX(0px);
        opacity: 1;
        color: #fff;
    }  
}